/* Sidebar.css */

.slider {
  display: inline-block;

  width: 100%;
  /*WIDTH OF SIDEBAR*/
  height: 100%;
  background-color: rgb(37, 36, 35);
  transform: translateX(-100%);
  /* Initial position outside the viewport */

  overflow-y: auto;
  /* Enable vertical scrolling */
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: black;
  /* For Firefox */
  display: inline-block;
  animation: slideInAnimation 0.5s ease-in-out forwards;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
  }
}

/* .slide-in {
  display: inline-block;
  animation: slideInAnimation 0.5s ease-in-out forwards;
  /* Animation duration and easing function 
} */

@keyframes slideInAnimation {
  to {
    transform: translateX(0);
    /* Final position inside the viewport */
  }
}


.scrollspy-example {
  width: 100%;
  height: 80vh;
  padding-top: 50px;
  padding-bottom: 50px;
  border: solid 0px;
  border-radius: 5px;
  margin-left: 0px;
  background-color: rgb(37, 36, 35);
  align-items: left;
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(86, 85, 85);
    border-radius: 5px;
  }
}


.fa-thin{
  font-size: 20px;
}
.scrollspy-example button {
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  align-items: left;
  text-align: left;
  font-size: 18px;
  background-color: rgb(37, 36, 35);
  color: white;
  border: solid 0px;
  
}
.scrollspy-example button i{
  margin-right: 15px;
  margin-left: 20%;

}

.scrollspy-example button:hover {
  background-color: rgb(59, 58, 57);
  .buttonsdiv{
    background-color: rgb(59, 58, 57);
  }
}

.items {
  width: 100%;
}

.alis{
  width: 28%;
  height: 750px;
  margin: 0px;
  
}

.listnew{
  
  width: 100%;
  height: 100%;
  background-color: rgb(51, 45, 45);
}